<!DOCTYPE html>
<html lang="en">
{% load staticfiles %} 
<head>
<title>Join</title>
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/web_logo.ico" %}">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<!-- //js -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
<!-- //font-awesome icons -->
<link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header w3layouts">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="../index.html/">乡村·中国梦</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li><a href="../index.html/">主页</a></li>
							<li><a href="../about_us.html/">了解我们</a></li>
							<li class="active" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">加入我们 <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="../join_us_dars.html/">大爱人士</a></li>
									<li><a href="../join_us_szqt.html/">受助群体</a></li>
								</ul>
							</li>
						</ul>
						
					</nav>
				</div>
			</nav>
		</div>
	</div>
<!-- banner -->
	<div class="w3-banner1">
		
	</div>
<!-- //banner -->
<!-- contact -->
<div class="contact">
		<div class="container">
			<h2 class="w3l_head w3l_head1">如果您有困难，请联系我们</h2>
			<div class="w3_contact_grids">
				<!-- form -->
				<form action="../join_us_szqt_apply/" method="post">

					<span class="input input--jiro">
						<input class="input__field input__field--jiro" type="text" id="input_name" name="input_name" placeholder="Your Name" required="">
						<label class="input__label input__label--jiro" for="input_name">
							<span class="input__label-content input__label-content--jiro">姓名</span>
						</label>
					</span>
					<span class="input input--jiro">
						<input class="input__field input__field--jiro" type="email" id="input_email" name="input_email" placeholder="YourEmailAddress" required="">
						<label class="input__label input__label--jiro" for="input_email">
							<span class="input__label-content input__label-content--jiro">邮箱地址</span>
						</label>
					</span>
					<span class="input input--jiro">
						<input class="input__field input__field--jiro" type="text" id="input_number" name="input_number" placeholder="PhoneNumber" required="">
						<label class="input__label input__label--jiro" for="input_number">
							<span class="input__label-content input__label-content--jiro">电话号码</span>
						</label>
					</span>
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp附加信息</label>
					<textarea name="input_message" placeholder="Message..." required="" id="input_message"></textarea>
					<input type="submit" value="提交">

				</form>
				<!-- //form -->
			</div>
		</div>
	</div>
	<script src="{% static "js/classie.js" %}"></script>
	<script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>

<!-- newsletter-->
	<div class="newsletter">
		<div class="container">
			<div class="clearfix"> </div>
				<h4>如有问题，请联系</h4>
				<div class="mo">
					<h3>董越： 13291003@bjtu.edu.cn</h3>	
				</div>		
			</div>
			<div class="clearfix"> </div>
			<h4>欢迎加入乡村·中国梦，成为我们的一员 !</h4>
			<div class="mo">
				<a href="../index.html/">主页</a>
			</div>
		</div>
	</div>
<!-- /newsletter-->
<!-- footer -->
<div class="agileinfo_footer_bottom"></div>
			
	<div class="footer-w3layouts">
		<div class="container">
			<div class="agile-copy">
				<p>Copyright &copy; 2017 乡村·中国梦 All rights reserved.</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

<!-- //footer -->
<!-- for bootstrap working -->
	<script src="{% static "js/bootstrap.js" %}"></script>
<!-- //for bootstrap working -->
</body>
</html>